body {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
}

header {
  color: #000000;
  width: 100%;
  left: 0%;
  top: 0%;
  position: fixed;
  text-align: center;
  z-index: 1;
}

#fondoGris {
  min-height: 1vh;
  background-color: #d1a593;
}

.linea {
  min-height: 1vh;
  font-family: Hurricane, "Times New Roman", Times, serif;
  font-size: 10vh;
  padding-right: 2vw;
  display: inline-block;
  vertical-align: center;
}

.lineasincursiva {
  min-height: 1vh;
  font-family: "Times New Roman", Times, serif;
  font-size: 3vw;
}

.linea2 {
  min-height: 1vh;
  display: inline-block;
  vertical-align: center;
  padding-left: 2vw;
  font-size: 3vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.botones1,
.botones,
.botones2,
.botones3 {
  font-size: 3vh;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10vh;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

.botones {
  opacity: 0;
  animation: aparecerConDelay 1s;
  -webkit-animation: aparecerConDelay 1s;
  animation-fill-mode: forwards;
}

.botones1 {
  opacity: 0;
  animation: aparecerConDelay 1s;
  -webkit-animation: aparecerConDelay 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.botones2 {
  opacity: 0;
  animation: aparecerConDelay 1s;
  -webkit-animation: aparecerConDelay 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.botones3 {
  opacity: 0;
  animation: aparecerConDelay 1s;
  -webkit-animation: aparecerConDelay 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.botones:hover,
.botones1:hover,
.botones2:hover,
.botones3:hover {
  color: #ffa07a;
}

@keyframes aparecerConDelay {
  from {
    opacity: 0;
    top: -150px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes aparecerConDelay {
  from {
    opacity: 0;
    top: -150px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

a {
  text-align: center;
}

nav {
  background-color: #942d05;
  color: #ffffff;
  font-size: 3vh;
  text-align: center;
  height: 4vh;
  min-width: 100%;
}

/* Menú desplegable del nav */
.botonmenu {
  font-size: 2.5vh;
  background-color: #ffa07a;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 30vw;
  max-height: 5vh;
}

.menu {
  font-size: 2vh;
  float: left;
  display: left;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  width: 30vw;
}

.contenidomenu {
  font-size: 3vh;
  text-align: left;
  display: none;
  background-color: #d1a593;
  line-height: 200%;
  width: 30vw;
}

.contenidomenu a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.contenidomenu a:hover {
  background-color: #d3d3d3;
}

.menu:hover .contenidomenu {
  display: block;
}

/* Fin desplegable del index */
.vinculo {
  color: #ffa07a;
  background-color: #000000;
  text-decoration: none;
  font-family: Quicksand, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  align-self: stretch;
}

.vinculo:hover {
  color: #000000;
  background-color: #ffa07a;
  opacity: 1;
}

section {
  display: grid;
  margin-top: 20vh;
  grid-template-columns: 60vw 30vw;
  grid-gap: 1vw;
}

aside {
  display: grid;
  grid-column: 2 / 3;
  margin: 1vh 0vh 3vh;
}

img {
  display: flex;
  max-height: 60vh;
  max-width: 60vw;
  align-self: center;
  text-align: center;
  justify-self: center;
  border-radius: 15px;
}

article {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

footer {
  color: #000000;
  background-color: #ffa07a;
  min-width: 100vw;
  max-width: 100vw;
  padding: 0%;
  height: 5vh;
  bottom: 0%;
  margin-top: 3vh;
  position: fixed;
  font-size: 2vh;
  display: inline;
  align-self: center;
}

.iconosfooter,
.iconosfooter2 {
  font-family: Quicksand, 'Times New Roman', Times, serif;
  font-size: 1vw;
  min-height: 1vh;
  display: inline;
  filter: grayscale(100%);
  align-self: center;
}

.iconosfooter2 {
  float: right;
  align-self: center;
}

.iconosfooter:hover {
  filter: grayscale(0%);
}

/*Media*/
@media all and (max-width: 599px) {
  .linea {
    font-size: 5vh;
  }

  .linea2 {
    font-size: 2vh;
  }

  .ocultar {
    display: flex;
    visibility: hidden;
  }

  footer {
    color: #000000;
    background-color: #ffa07a;
    min-width: 100vw;
    max-width: 100vw;
    padding: 0%;
    height: 5vh;
    bottom: 0%;
    margin-top: 2vh 0vh 0vh;
    position: fixed;
    font-size: 2vh;
    display: inline;
    align-self: center;
  }

  .iconosfooter,
  .iconosfooter2 {
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 1vw;
    min-height: 1vh;
    display: inline;
    filter: grayscale(100%);
    align-self: center;
  }

  .iconosfooter2 {
    float: right;
    align-self: center;
  }

  .iconosfooter:hover {
    filter: grayscale(0%);
  }

  .botones1,
  .botones,
  .botones2,
  .botones3 {
    font-size: 2vh;
    margin-left: 2vh;
  }

  .vinculo {
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }

  .iconosfooter {
    font-size: 2vh;
  }

  .botonmenu {
    min-width: 20vw;
    margin-top: 1vh;
  }

  #animeIndex {
    min-height: 50vh;
  }
}

@media all and (min-width: 600px) and (max-width: 1300px) {
  .linea {
    font-size: 7vh;
  }

  .ocultar2 {
    display: flex;
    visibility: hidden;
  }

  .botones1,
  .botones,
  .botones2,
  .botones3 {
    font-size: 2vh;
    margin-left: 4vh;
  }

  .vinculo {
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .iconosfooter {
    font-size: 2vh;
  }

  .botonmenu {
    margin-top: 1vh;
    min-width: 30vw;
  }

  #animeIndex {
    min-height: 50vh;
  }
}
